<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="style2.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container" id="app">
      <div class="row">
        <div class="col-md-12">
          <div class="hdr-msg">Brew Wisely<br />Enjoy The Fresh Drink</div>
          <div class="hdr-desc">
            Automate your tasty drinks at office, reach the freshest sip
          </div>
        </div>
        <div class="col-md-12">
          <div class="row input-group addNewDrinkCont my-3">
            <span div class="addNewDrinkDesc mr-2"
              >You can add a new drink here:</span
            >
            <input
              class="addDrinkInput form-control"
              type="text"
              v-model="drinkName"
            />
            <button @click="addDrink" class="addDrinkBtn btn btn-info">
              Add Drink
            </button>
          </div>
          <div class="row mt-5" id="drinksArea">
            <div
              class="drinkCont col-md-5 px-2 py-3 mx-auto mb-5 mb-md-0"
              v-for="drink in drinks"
            >
              <div class="records">
                <div class="recordHdr">{{drink.name}} Records</div>
                <ul class="recorList mt-3">
                  <li class="record" v-for="record in drink.records">
                    <span v-if="record.isFinished">
                      {{drink.name}}&nbsp;is brewed
                      at:&nbsp;{{format(record.end)}}
                    </span>
                    <span v-else>
                      Fresh {{drink.name}}&nbsp;prep
                      started:&nbsp;{{format(record.start)}}
                    </span>
                  </li>
                </ul>
              </div>
              <div
                @click="addRecord(drink)"
                class="btn btn-info prepDrinkBtn"
                id="Tea"
                v-bind:class="{ 'disabledBtn': drink.isFinished}"
              >
                <img :src="drink.path" />
                <!-- Prepare {{drink.name}} -->
              </div>
              <div class="btn btn-warning clearRecordBtn mt-2" id="clearTea">
                Clear {{drink.name}} records
              </div>
              <div class="editRecord">
                <div class="mt-1">
                  <span>Edit drink name:</span>
                  <input v-model="drink.name" class="form-control" />
                </div>
                <div class="mt-1">
                  <span>Edit brew time(seconds):</span>
                  <input v-model="drink.brew" class="form-control" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 my-4">
          <div class="btn btn-warning clearRecordsBtn">
            <img src="trash.svg" class="mr-2" />Clear All Records
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
