* {
    font-family: "Ubuntu", sans-serif;
}
body {
    background-color: #fefff4;

    .container {
        max-width: 90%;
        .row {
            .hdr-msg {
                text-align: center;
                font-size: 28px;
                font-weight: 300;
                letter-spacing: 1px;
                color: #888;
                margin: 20px auto;
            }
            .hdr-desc {
                text-align: center;
                font-size: 22px;
                font-weight: 300;
                //letter-spacing: 1px;
                color: #999;
                margin: 10px auto;
            }
            .addNewDrinkCont {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .addDrinkInput {
                    max-width: 200px;
                }
                .addDrinkBtn {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
            #drinksArea {
                .drinkCont {
                    display: flex;
                    flex-direction: column;
                    min-height: 600px;
                    border: 1px solid #e1e1e1;
                    .records {
                        flex: 1;
                        .recordHdr {
                            color: #bdbdbd;
                            font-weight: 100;
                            font-size: 19px;
                            text-align: center;
                        }

                        .recordList {
                            list-style: none;
                            max-height: 300px;
                            overflow-y: auto;
                            padding: 0 20px;

                            .record {
                                line-height: 25px;
                                font-size: 15px;
                                &:last-child {
                                    color: #333;
                                }
                                &.lineThrough {
                                    color: #666;
                                    text-decoration: line-through;
                                }
                            }
                        }
                    }
                    button[disabled="disabled"].prepDrinkBtn {
                        cursor: not-allowed;
                    }
                    .prepDrinkBtn {
                        margin: 0 auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        //max-width: 280px;
                        border-radius: 50%;
                        width: 100px;
                        height: 100px;
                        img {
                            max-width: 60px;
                        }
                    }
                    .clearRecordBtn {
                        margin: 0 auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        max-width: 230px;
                        color: #fff;
                        img {
                            max-width: 35px;
                        }
                    }
                    .editRecord {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 10px;
                        margin-top: 10px;
                        border-radius: 5px;
                        background-color: #fff1d1;
                        box-shadow: #ccc 0px 2px 4px 0px;
                        > div {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            span {
                                font-size: 15px;
                                color: #666;
                            }
                            input {
                                max-width: 100px;
                            }
                        }
                    }
                }
            }
            .clearRecordsBtn {
                color: #fff;
                display: flex;
                margin: 0 auto;
                max-width: 220px;
                align-items: center;
                justify-content: center;
                img {
                    max-width: 40px;
                }
            }
        }
    }
}
